body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    margin: 10px;
}

.box:nth-child(1) {
    background-color: #cdeccd; /* Yeşilin açık tonu */
}

.box:nth-child(2) {
    background-color: #8ab68b; /* Yeşilin orta tonu */
}

.box:nth-child(3) {
    background-color: #4e784e; /* Yeşilin koyu tonu */
}